/* You can add global styles to this file, and also import other style files */
@import 'styles-variables';

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

a:hover {
    cursor: pointer;
}

body {
    min-height: 75rem;
    padding-top: 4rem;
    background-color: #f9f9f9;
}

.text-gold {
    color: #bba064 !important;
}

.header-divider {
    width: 90%;
    background: transparent url(//ddoie2e1uy9qo.cloudfront.net/images/Divider-Tablet.png) no-repeat 50%;
    height: 2px;
}

.header-text {
    font-weight: 300;
    font-size: 40px;
    color: #bba064;
}

.btn-gold {
    color: #fff;
    background-color: #bba064;
    border-color: #bba064;
}

.btn-gold:hover {
    background-color: #958050
}

.btn-patreon {
    background-color: rgb(248, 90, 68);
    border-color: rgb(248, 90, 68);
}

.btn-patreon:hover {
    background-color: rgb(207, 78, 61);
}

.border-gold {
    border: 1px solid #bba064;
}

.border-bottom-gold {
    border-bottom: 1px solid #bba064;
}

.dropdown-menu {
    min-width: 5rem;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
