<div *ngIf="auth.canRead(user)">
  <h1 class="m-4 text-center header-text">The 
    <div class="dropdown" appDropdown>
      <button class="btn btn-gold dropdown-toggle" type="button" id="yearDropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{year}}
      </button>
      <div class="dropdown-menu dropdown-menu-center" aria-labelledby="yearDropdownMenuButton">
        <a class="dropdown-item text-center" *ngFor="let y of years$ | async | orderBy: 'y':false:true" (click)="YearChosen(y.year)">{{ y.year }}</a>
      </div>
    </div> Oscars By Category
  </h1>
  <div class="header-divider mx-auto"></div> 
  <form action="">
    <div *ngFor="let category of oscarCategory$ | async | orderBy: 'category':false:true" class="card mx-auto m-3 border-gold">
      <div class="card-body" (onCreate)="newCategory(category.category)">
        <h3 class="card-title text-gold">{{ category.category }}</h3>
        <div *ngIf="category.winner != null">
          <h4>
            <strong class="text-gold">
              *Winner: 
            </strong>
            {{ category.winner }}
          </h4>
        </div>
        <div *ngFor="let nominee of category.nominees">
          <input type="radio" class="mr-1" name="{{ category.category }}" value="{{ nominee }}" [disabled]="category.winner != null"
            (click)="userChoice(category.category, nominee)" [checked]="alreadyChosenByUser(category.category, nominee)" required>{{ nominee }}
        </div>
        <div *ngIf="!VerifySingleForm(category.category) && category.winner == null"><p class="mb-1 mt-2 text-danger">*Must Choose an Answer</p></div>
      </div>
    </div>
    <!-- <button class="btn btn-gold mb-3 mt-3" (click)="SubmitForm()">Submit Selections</button> -->
  </form>
</div>
