<div *ngIf="auth.canRead(user)">
  <h1 style="text-align: center" class="m-4">The 2018 Oscars By Category</h1>

  <div *ngFor="let oscar of oscars$" class="mb-4">

    <form formGroup="oscarForm">

      <div class="row">
        <div class="col"></div>
        <div class="col">
          <div class="card bg-light pt-2 pl-4 pr-4 pb-4">
            <h2 class="text-center">{{ oscar.category }}</h2>

            <!-- list of choices -->
            <div formArrayName="choices">
              <div *ngFor="let nominee of oscarForm.controls.choices.controls; let i = index;">
                <button type="radio" [name]="oscar.category" [value]="nominee" class="btn btn-light mx-auto">{{ nominee }}</button>
              </div>
            </div>


          </div>
        </div>
        <div class="col"></div>
      </div>
    
    </form>

  </div>
</div>
