<div *ngIf="auth.user$ | async as user; then authenticated else guest">
  <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    
    <p>Login to get started...</p>
    
    <button (click)="auth.googleLogin()">
      <i class="fa fa-google"></i> Connect Google
    </button>
  </div>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="card mx-auto bg-light">
          <img class="user-img-smaller rounded-circle card-img-top mx-auto mt-4" [src]="user.photoURL" alt="User Image">
          <div class="card-body text-center">
            <h3 class="card-title">{{ user.displayName ? user.displayName : user.email }}</h3>
            <p>UID: {{ user.uid }}</p>
            <button (click)="auth.signOut()">Logout</button>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</ng-template>
