<h2>Oscar Form Works</h2>

<!-- <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="card bg-light pt-2 pl-4 pr-4 pb-4">
        <h2 class="text-center">{{ oscar.category }}</h2>

        <div formArrayName="choices">
          <div *ngFor="let nominee of oscarForm.controls.choices.controls; let i = index;">
            <button formControlName="nominee" type="radio" [name]="oscar.category" [value]="nominee" class="btn btn-light mx-auto">{{ nominee }}</button>
          </div>
        </div>

      </div>
    </div>
  <div class="col"></div>
</div> -->
